<manifest package="example.codeclan.com.hellofrog"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="example.codeclan.com.hellofrog.HelloFrog"
            android:label="@string/app_header">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="example.codeclan.com.hellofrog.AmphibianDetails"
            android:label="@string/activity_details">
            <!--android:parentActivityName="example.codeclan.com.hellofrog.HelloFrog">-->
            <!-- the line above makes a parent/child relationship between the activity_main and activity_details, which gives us a back button in the top left of the child (activity_details) page -->
        </activity>

    </application>

</manifest>
